.menu {
    text-align: center;
    margin-top: 20px;
    position: absolute;
    margin-left: 50px;
}

.toggle-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    cursor: pointer;
}

table {
    opacity: 0; /* Inicia a tabela com opacidade 0 */
    max-height: 0; /* Define a altura máxima como 0 */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa a altura máxima */
    width: 20%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    position: relative;
    left: 610px;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Adiciona transição suave */
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.table-show {
    opacity: 1; /* Torna a tabela visível alterando a opacidade para 1 */
    max-height: 500px; /* Define a altura máxima como 500px (ajuste conforme necessário) */
}
.welcome-message{
    position: absolute;
    left: 480px;
    color: white;
top: 0px;
}
.menu table tr:hover {
    background-color: #f2f2f2;
}

.menu table tr:hover a {
    color: #333;
}
@media only screen and (max-width: 600px) {
    table {
        width: 100%;
        left: 0;
    }
}
body{
    background-color: black;
}