body{


}
header{
    background-color: #A7A6E1;
    width: 100%;
    left: -0px;
    height: 90px;
    position: absolute;
    top: -20px;
}
.barra{
    background-color: #4E437B;
    width: 100%;
    left: -0px;
    height: 60px;
    position: absolute;
    top: 70px;
}
main{
    background-color: #A7A6E1;
    width: 100%;
    left: -0px;
    height: 80%;
    position: absolute;
    top: 17%;
}
footer{
    background-color: #4E437B;
    width: 100%;
    left: -0px;
    height: 10%;
    position: absolute;
    top: 97%;
}
.logo{
    position: absolute;
    top: 15px;
}
h1{
    position: absolute;
left: 99px;
top: 13px;
}
.dark-mode {
    background-color: #333; /* Cor de fundo para o modo noturno */
    color: #fff; /* Cor de texto para o modo noturno */
}
.icon {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    display: none; /* Inicialmente, as imagens estarão ocultas */
}
.link a {
    position: relative;
    left: 90px;
    margin-right: 50px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    line-height: 15px;
    text-decoration: none;
    color: #000000;
    top:23px;
    overflow: hidden;
}

.link a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #A7A6E1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.link a:hover:after,
.link a:focus:after {
    transform: scaleX(1);
    transform-origin: left;
}

#divBusca{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:300px;
    height:32px;
    left: 1500px;
    position: relative;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
  
  #btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:102px;
    font-weight:bold;
    background:#5F9EA0;
  }
  
  #divBusca img{
    float:left;
  }
.lua{
    position: absolute;
    width:40px;
    left: 47%;
    top: -35px;
}
.sol{
    position: absolute;
    width:30px;
    left: 47%;
    top: -30px;
}
  .texto {
    width: 45vw;
    text-align: justify;
    padding-left: 80px;
    font-family: ui-sans-serif;
    font-size: 20px;
    margin-top: 100px;
   
  }
  .conect {
    position: absolute;
    top: 40px;
    left: 89%;
    font-size: 20px;
    text-decoration: none;
    color: black;
    animation: moveConnect 5s infinite alternate; /* Define a animação */
}

.conect:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; /* Distância da linha ao texto */
    width: 100%;
    height: 2px; /* Altura da linha */
    background-color: #4E437B; /* Cor da linha */
    transform: scaleX(0); /* Inicialmente, a linha estará invisível */
    transform-origin: right;
    transition: transform 0.3s ease; /* Transição para a animação */
}



.conect:hover::after {
    transform: scaleX(1); /* Aumenta a largura da linha ao passar o mouse */
    transform-origin: left;
}

.butao {
    position: absolute;
    left: 91%;
    padding: 10px 20px;
    background-color: #4E437B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    top: 15px;
  }
  
  .butao:hover {
    background-color: #c978c1;
  }
  
  #toggleButton {
    /* Estilos específicos para o botão com o identificador toggleButton */
  }
  
  /* Estilos para o modo noturno */
  .modo-noturno .butao {
    background-color: #343a40;
  }
  
  .modo-noturno .butao:hover {
    background-color: #1d2124;
  }
  .text{
    position: absolute;
    left: 90%;
    top: -10px;
    left: 80%;
  }
  .texto2 {
    width: 45vw;
    text-align: justify;
    padding-left: 310px;
    font-family: ui-sans-serif;
    position: relative;
    margin-top: -230px;
    font-size: 20px;
    
  }

  .texto3 {
    width: 45vw;
    text-align: justify;
    padding-left: 310px;
    font-family: ui-sans-serif;
    position: absolute;
    margin-top: 200px;
    left:-380px;
  }

  .texto4 {
    width: 45vw;
    text-align: justify;
    padding-left: 310px;
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    margin-top: -600px;
    left: 890px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  
  }
.texto h2{
  margin-left: 90px;
  font-size: 30px;
  margin-top: 20px;
  text-decoration:underline;
}
.texto4 p{
  font-size: 20px;
  margin-left: 30px;

}
.texto3 p{
  margin-left: 50px;
  
}
.texto4 h3{
 margin-top: -9px;
}

  .quadrado {
    width: 900px;
    height: 400px;
    background-color:#6E6CB6;
    display: flex;
    border-radius: 10px;
  }

  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #000000;
    background: #FF4500;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    padding: 90px 0px 30px 20 ;
   

}
.glow-on-hover:before {
    content: '';
    background:  #000;
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;  
}

.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:   #D9D9D9;;
    left: 0;
    top: 0;
    border-radius:10px;
}
  
  